{% extends 'base.html.twig' %}

{% block title %}aGora!{% endblock %}


{% block body %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

    <style>
        .page {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .main-container {
            display: flex;
            flex-direction: row;
            margin-inline: 5vw;
            margin-top: 30px;
        }

        .main-title {
            font-weight: bold;
        }

        .citation {
            font-size: 20px;
        }

        .column {
            width: 50%;
            padding-inline: 50px;
        }
        .carousel img {
            width: 100%;
            height: auto;
            max-height: 600px;
            max-width: 900px;
            object-fit: cover;
            border-radius: 10px;
        }

        .carousel-container {
            max-width: 900px;
        }

        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .address-container {
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 80%;
            max-width: 1000px;
            background-color: #ffe3d1;
            border: solid 4px #0f263e;
            border-radius: 20px;
        }
        .address-details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 50px;
        }

        .map-image{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 50px;
            max-height: 400px;
            width: auto;
        }

    </style>
    <div class="page">
        <div class="main-container">
            <div class="carousel-container column">
                <h1 class="main-title">Bienvenue sur Agora !</h1>
                <h2 class="citation">Explorez notre vaste collection d'articles et trouvez ce que vous recherchez</h2>

                <div class="content">
                    <div class="carousel">
                        <div><img src="img/image1.jpeg" alt="Image 1"></div>
                        <div><img src="img/image2.jpeg" alt="Image 2"></div>
                        <div><img src="img/image3.jpeg" alt="Image 3"></div>
                        <div><img src="img/image4.jpeg" alt="Image 4"></div>
                    </div>
                </div>
            </div>


            <div class="description column">
                <h2>Création de l'entreprise</h2>

                <p>Dans un quartier animé de la ville, Eleonore, Luna, Halima et Cédric se sont réunis autour d'un café,
                    partageant leur frustration face aux difficultés rencontrées lorsqu'ils tentaient d'acheter et
                    de vendre des articles d'occasion en ligne.

                <p>L'idée d'une plateforme conviviale et sécurisée est née.
                    Après des mois de travail acharné, leur entreprise, nommée "Agora", est née.</p>

                <p>Lancée avec succès lors d'un petit événement local, Agora est rapidement devenue
                    la destination de choix pour les habitants souhaitant vendre leurs biens et faire des affaires
                    en toute confiance.</p>

            </div>
        </div>



        <div class="address-container">
            <div class="address-details column">
                <h2 class="header">Où sommes-nous situés ?</h2>
                <p>123 Rue du peuplier</p>
                <p>75013 Paris, France</p>
                <p>Téléphone : +33 1 23 45 67 89</p>
                <p>Email : contact@agora.fr</p>
            </div>
            <img class="map-image column" src="img/adresse.jpeg" alt="Photo de l'adresse">
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>


    <script>
        $(document).ready(function(){
            $('.carousel').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: true,
                dots: true
            });
        });
    </script>



{% endblock %}