{% extends 'base.html.twig' %}

{% block title %}Edit Item{% endblock %}

{% block body %}
    <h1>Edit Item</h1>

    {{ include('my_item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_my_item_index') }}">back to list</a>

    {{ include('my_item/_delete_form.html.twig') }}
{% endblock %}
